<div class="jumbotron">
	<h1>About Super Duper</h1>
	<p>So the reason your here is probably because you are wondering "What is Super Duper"? Super Duper is everything, everywhere. You breath Super Duper, you eat Super Duper, you see Super Duper. Super Duper is art, photography, skateboarding, travel, obsesion, lust, sex, drugs, hip hop and rock and roll all bundle togeather
	</p>
	<p> What Jayden is really trying to say is he doesn't have a clue what Super Duper is, he just likes the sound of the word.
	</p>	
</div>