<div class="jumbotron">
	<h1>Welcome to Super Duper <br><small>A project by Jayden</small></br></h1>
	<br><p>
		<%= link_to "Sign up to Super Duper", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	</br></p>
</div>